// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you



/* INVEST in GREAT specific styles */
/* - - - - - - - - - - - - - - - - */


/*  Overide the GDS Transport *everywhere*  */
* {
  font-family: 'Roboto' !important;
}




/* overide styles on the header nav */
@import 'global-header-override';


/* styles for homepage mockup */
@import 'jumbotron';


/* Top Top HM GOV header */

.great-topnav {
  background-color:#333;
  color: white;
  font-size:0.75em;
  padding:3px 2px;
  margin: 0;
}


/* Mangle the brand in the header */

/*  Change the logo from crown to flag  */
#global-header #logo img {
  visibility: visible;
  width: 220px;
}




/* For homepage existing rebuild */

.home-more-button {
border: 3px solid #00549F;
background-color: transparent;
border-radius: 4px;
color: #00549F;
text-align: left;
font-weight:400;
font-size:1.3em;
line-height: 1;
padding: 10px 20px 13px 20px;
}
.home-more-button:hover {
background-color:#00549F;
color: white;
}


/* How we help content */

.dit-list-reasons__item {
float: left;
margin-top: 20px;
padding: 0 36px;
width: 33%;
}
@media (max-width: 769px) {
  .dit-list-reasons__item {
    width: 90%;
    padding-left: 10px;
  }
}

.dit-list-reasons {
list-style: none;
margin: 16px 0;
padding: 0;
width: 100%;
overflow: hidden;
text-align: center;
}

.dit-icon {
height: 70px;
width: 70px;
margin: 28px auto
}


.dit-icon-sm {
    height: 50px;
    width: 50px;
    margin: 4px -4px 0 15px
}

.dit-icon-xs {
    height: 24px;
    width: 24px
}

.dit-icon-connections {
    background: linear-gradient(transparent, transparent), url(/public/images/icons/dit-icon-connections.svg) no-repeat;
    background-size: contain
}

.dit-icon-immigration {
    background: linear-gradient(transparent, transparent), url(/public/images/icons/dit-icon-immigration.svg) no-repeat;
    background-size: contain
}

.dit-icon-incentives {
    background: linear-gradient(transparent, transparent), url(/public/images/icons/dit-icon-incentives.svg) no-repeat;
    background-size: contain
}

.dit-icon-talent {
    background: linear-gradient(transparent, transparent), url(/public/images/icons/dit-icon-talent.svg) no-repeat;
    background-size: contain
}

.dit-icon-insight {
    background: linear-gradient(transparent, transparent), url(/public/images/icons/dit-icon-insight.svg) no-repeat;
    background-size: contain
}

.dit-icon-language {
    background: linear-gradient(transparent, transparent), url(/public/images/icons/dit-language-icon.svg) no-repeat;
    background-size: contain
}

@media (max-width: 767px) {
    .dit-icon-language {
        margin: -13px -15px 0 0
    }
}

/* tweaks to match older typography on homepage */
p {
  font-size: 0.95em;
}
#home-industries .heading-large, 
#how-help .heading-large,
#home-setup .heading-large, 
#how-help .heading-large {
font-size:2.3em;
  font-weight: 300;
}
#home-industries .heading-small, 
#home-setup .heading-small {
font-size:1.1em;
  font-weight: 500;
  padding-top: 0;
  margin-top:0;
}
hr.homerule {
  margin: 2.6em 0 0.2em 0;
  background:none;
  border-bottom: 5px solid #B00D23;
}
img.home-thumbnail {
  width:7.6em;
  float:left;
  margin-top:5px;
  margin-right:15px;
  margin-bottom:3em;
}
@media (max-width: 769px) {
  img.home-thumbnail {
  width:4.6em;
  float:left;
  margin-top:5px;
  margin-right:15px;
  margin-bottom:1.5em;
  }

#home-industries .column-half {
  margin-bottom:2.6em;
}}


/* Stuff for the IOPS prototype */
.mixpanel-list {
  position: relative;
  top:4.5em;
font-size:0.9em;
  line-height:1;
}
.mixpanel-list li {
  padding-bottom:0.86em;
}

.invest-topnav {
  border-bottom: solid 1px #ccc;
  padding:17px 0 10px 0
}



ul.hoznav li {
  display: inline-block;
  margin-left:1.6em;
  font-size: 0.9em;
}
ul.hoznav li.active {
  border-bottom: solid 2px #900;
}
ul.hoznav li.contact {
  border-radius: 5px;
  background-color:#00549F;
  color:white;
  padding:0.2em 0.75em;
}





#industry-picker-box {
  margin-bottom: 1em;
  float:left;
  z-index: 100;
  position:absolute;
}

#location-picker-box {
  margin-bottom: 1em;
  float:left;
  z-index: 101;
  position:absolute;
}

#industry-picker, #location-picker {
  width: 230px;
}

input#industry-picker.autocomplete__input {
}

.picker-form-hint {
  color:#666;
  font-size: 0.9em;
  font-weight: 400;
}






/* - - - - - - TABS for mapmix panel - - - - - - */

.js-tabs .tab {
  display: inline-block;
  vertical-align: top;
  cursor: hand;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  font-weight: 400;
  color: #0066cc;
  font-size: 1em;
  padding: 0.4em 0.66em 0.4em 0.66em;
  border-top: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  background-color:#f0f0f0;
}
.js-tabs .tab:focus {
    box-shadow: 0 0 3px 3px rgba(0,127,255,.5);
}
.js-tabs .tab:hover {
    //background-color: #fff;
}
.js-tabs .tab.active {
    //border-bottom: .2em solid #333;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    cursor: default;
    color: black;
    background-color:white;
}

.js-tabs .panels {
    //background-color: #f99;
}

.js-tabs .panel {
    display: none;
}
.js-tabs .panel.active {
    display: block;
}
.js-tabs .tab.actives {
    border-bottom: .2em solid #333;
    cursor: default;
    color: black;
}
.panel {
  //border-left: 1px solid #999;
  padding-left:0.66em;
}

#chart-tab1 {

}

