#global-header-bar {
  height: 0;
  background-color: #666;
}

#global-header {
  background-color: #f0f0f0;
}
  #global-header .header-wrapper {
    background-color: #f0f0f0;
    max-width: 990px;
    margin: 0 auto;
    padding-top: 8px;
    padding-bottom: 0;
    margin-bottom: -30px }
    @media (min-width: 769px) {
      #global-header .header-wrapper {
            background-color: #f0f0f0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 8px;
        padding-bottom: 8px;
        margin-bottom: 1px } }
    @media (min-width: 641px) {
      #global-header .header-wrapper {
            background-color: #f0f0f0;

        padding-left: 0;
        padding-right: 0;
        padding-top: 8px;
    padding-bottom: 8px; } }

#global-header .header-wrapper .header-global .header-logo {
  float: left; }
  @media (min-width: 769px) {
    #global-header .header-wrapper .header-global .header-logo {
       } }

  @media screen and (max-width: 379px) {
    #global-header .header-wrapper .header-global .header-logo {
      width: auto;
      float: none; } }

#global-header .header-wrapper .header-global .header-logo .content {
  margin: 0 15px; }

#global-header .header-wrapper .header-global .header-logo {
  margin-top: 2px; }

@media (min-width: 769px) {
#global-header.with-proposition .header-wrapper .header-global {
  float: left;
  width: 250px; }

#global-header.with-proposition .header-wrapper .header-global .header-logo,
#global-header.with-proposition .header-wrapper .header-global .site-search {
  width: 100%; } }

@media (min-width: 769px) {
#global-header.with-proposition .header-wrapper .header-proposition {
  width: auto;
  float: left; } }

#global-header.with-proposition .header-wrapper .header-proposition .content {
  margin: 0 15px; }

#global-header #logo {
  background-image: url('/public/images/iigb-logo.png') no-repeat;
  background-size: 120px 100px;
  overflow: visible;
}

#global-header #logo img {
  visibility: visible;
  width: 220px; 
}
@media (max-width: 769px) {
  #global-header #logo img {
    margin-top: 10px;
  }
}

#global-header #logo:hover, #global-header #logo:focus {
  text-decoration: none;
  border-bottom-color: none; }

#global-header .header-proposition {
  padding-top: 10px;
  position: relative;
  right: -70px; }
  @media (min-width: 1069px) {
    #global-header .header-proposition {
      right: -140px;
      padding-top: 0; } }
  @media (min-width: 969px) {
    #global-header .header-proposition {
      padding-top: 0; } }
  @media (min-width: 869px) {
    #global-header .header-proposition {
      padding-top: 0; } }
  @media (min-width: 769px) {
    #global-header .header-proposition {
      padding-top: 0; } }


#global-header .header-proposition #proposition-name {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 18px;
  line-height: 1.2;
  font-weight: bold;
  color: white;
  text-decoration: none; }
  @media (min-width: 641px) {
    #global-header .header-proposition #proposition-name {
      font-size: 24px;
      line-height: 1.25; } }


#global-header .header-proposition a#proposition-name:hover {
  text-decoration: underline; }
#global-header .header-proposition a.menu {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 16px;
  line-height: 1.14286;
  color: black;
  display: block;
  float: right;
  text-decoration: none;
  padding: 9px 22px 10px 14px;
  position: relative;
  left: -60px;
  top:-55px;
  border-radius: 5px;
  border:2px #ccc solid; }
  @media (min-width: 641px) {
    #global-header .header-proposition a.menu {
      font-size: 16px;
      line-height: 1.25; } }


  @media (min-width: 769px) {
    #global-header .header-proposition a.menu {
      display: none; } }


#global-header .header-proposition a.menu:hover {
    text-decoration: underline; }

#global-header .header-proposition a.menu:after {
  display: inline-block;
  font-size: 20px;
  height: 8px;
  padding-left: 0;
  vertical-align: middle;
  content: " \2630";
  position: relative;
  top:-10px;
  left:10px; }

#global-header .header-proposition a.menu.js-hidden:after {
  content: " \2630"; }

#global-header .header-proposition #proposition-menu {
  margin-top: 5px; }
  @media (min-width: 769px) {
    #global-header .header-proposition #proposition-menu.no-proposition-name {
      margin-top: 1px; } }


#global-header .header-proposition #proposition-link,
#global-header .header-proposition #proposition-links {
  clear: both;
  margin: 2px 0 0 0;
  padding: 0; }

  .js-enabled #global-header .header-proposition #proposition-link, .js-enabled
  #global-header .header-proposition #proposition-links {
    display: none; }
    @media (min-width: 769px) {
      .js-enabled #global-header .header-proposition #proposition-link, .js-enabled
      #global-header .header-proposition #proposition-links {
        display: block;
        zoom:0.88;
         } }
    @media (min-width: 869px) {
      .js-enabled #global-header .header-proposition #proposition-link, .js-enabled
      #global-header .header-proposition #proposition-links {
        display: block;
        zoom:0.96; } }
    @media (min-width: 969px) {
      .js-enabled #global-header .header-proposition #proposition-link, .js-enabled
      #global-header .header-proposition #proposition-links {
        display: block;
        zoom:1.00; } }


.js-enabled #global-header .header-proposition #proposition-link.js-visible, .js-enabled
#global-header .header-proposition #proposition-links.js-visible {
  display: block; }
  @media (max-width: 769px) {
    .js-enabled #global-header .header-proposition #proposition-link.js-visible, .js-enabled
#global-header .header-proposition #proposition-links.js-visible {
  display: block;
  background-color: white;
  position: absolute;
  z-index: 10;
  left:-120px;
  padding-left:5em;
  padding-bottom: 1.25em; }
  }

#global-header .header-proposition #proposition-link li,
#global-header .header-proposition #proposition-links li {

  /* This bit styles the mobile menu */
  float: left;
  border:none;
  list-style: none;
  width: 70%;
  padding: 3px 0 10px 0; }
  @media (min-width: 769px) {
    #global-header .header-proposition #proposition-link li,
    #global-header .header-proposition #proposition-links li {
      display: block;
      width: auto;
      padding: 0 15px 0 0;
       }
      #global-header .header-proposition #proposition-link li.clear-child,
      #global-header .header-proposition #proposition-links li.clear-child {
        clear: left; } }


#global-header .header-proposition #proposition-link a,
#global-header .header-proposition #proposition-links a {
  color: #666;
  text-decoration: none;
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 19px;
  line-height: 1.75; }
@media (min-width: 641px) {
  #global-header .header-proposition #proposition-link a,
  #global-header .header-proposition #proposition-links a {
    font-size: 14px;
    line-height: 1.42857; } }


@media (min-width: 769px) {
#global-header .header-proposition #proposition-link a,
#global-header .header-proposition #proposition-links a {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  line-height: 23px; } }


@media (min-width: 769px) and (min-width: 641px) {
#global-header .header-proposition #proposition-link a,
#global-header .header-proposition #proposition-links a {
  font-size: 16px;
  line-height: 1.25; } }

@media (max-width: 769px) {
#global-header .header-proposition #proposition-link a,
#global-header .header-proposition #proposition-links a {
  padding-left: 1.2em;
  }
}


#global-header .header-proposition #proposition-link a:hover,
#global-header .header-proposition #proposition-links a:hover {
  text-decoration: underline; }

#global-header .header-proposition #proposition-link a.active,
#global-header .header-proposition #proposition-links a.active {
  color: #black; }

#global-header .header-proposition #proposition-link a:focus,
#global-header .header-proposition #proposition-links a:focus {
  color: #0b0c0c; }

#global-header .header-proposition #proposition-link {
  float: right;
  line-height: 22px; }
  .js-enabled #global-header .header-proposition #proposition-link {
    display: block; }
  @media (min-width: 769px) {
    #global-header .header-proposition #proposition-link {
      float: none; } }

#global-header .header-proposition #proposition-link a.active, 
#global-header .header-proposition #proposition-links a.active {
    color: black;
    overflow: visible;
    background: url('/public/images/triangle-right-red.svg') left 1px top 5px no-repeat;

}
@media (min-width: 769px) {
#global-header .header-proposition #proposition-link a.active, 
#global-header .header-proposition #proposition-links a.active {
    color: black;
    background-image: none;
    padding-bottom: 4px;
    border-bottom: 3px solid #ae1228;
  }
}


#global-header .header-proposition #proposition-links li,
#global-header .header-proposition #proposition-link li {
  border-right: solid 1px #999;
  margin-left:1em;
}
@media (max-width: 769px) {
#global-header .header-proposition #proposition-links li,
#global-header .header-proposition #proposition-link li {
  border-right: none;
  }
}

#global-header .header-proposition #proposition-links li:last-child {
}
@media (min-width: 769px) {
  #global-header .header-proposition #proposition-links li:last-child {
background-color: #0a569d;
  border-right: none;
  border-radius: 0.25em;
  color: white;
  padding: 2px 0.9em;
  position: relative;
  top: -2px;
  }
}
@media (min-width: 769px) {
#global-header .header-proposition #proposition-links li:last-child a {
  color: white;
  }
}
#global-header .header-proposition #proposition-links li:nth-last-child(2) {
  border-right: none;
  padding-right: 2px;
}
