.jumbotron {
  color: #fff;
  text-shadow: 0px 0px 20px #000;
  position: relative;
  overflow: hidden;
  //background: #1E1348 top right no-repeat;
  padding: 0;
  margin: 0;
  height: 540px;
  border-bottom: 5px solid #B00D23;
  background-size: cover;
}

.jumbotron {
  background-image: url('/public/images/hero-img/iigb-hero.jpg') ;
}
@media (max-width: 767px) {
.jumbotron {
  background-image: url('/public/images/hero-img-mobile/iigb-hero.jpg');
  overflow: visible;
  height: 400px;
  position: relative;
top:-20px;
  }
}

.jumbotron:before {
    content: '';
    position: absolute;
    height: 50%;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background: -moz-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 60%, #000 100%);
    background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.6) 60%, #000 100%);
    background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 60%, #000 100%)
}

.jumbotron .dit-content-section {
    display: none
}

.jumbotron a {
    color: #fff
}

.jumbotron p {
    margin-bottom: 5px
}

@media (max-width: 1199px) {
    .jumbotron p {
        font-size: 18px
    }
}

.jumbotron .container {
    position: absolute;
    z-index: 5;
    height: auto;
    left: 0;
    right: 0;
    bottom: 15px
}



.jumbotron button {
    border: 3px solid white;
    background-color: transparent;
    border-radius: 4px;
    padding-bottom: 12px;
    color: white;
    text-align: left;
    font-weight:400;
    font-size:1.3em;
    line-height: 1;
    padding: 10px 40px 13px 20px;
    background: url('/public/images/triangle-right-white.svg') right 10px top 13px no-repeat;
}

.jumbotron .dit-play-container {
    padding: 8px 0px 0px 0px
}






.jumbotron-content {
  width: 960px;
  position: relative;
  top: 260px;
  z-index: 9;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .jumbotron-content {
    width: 92%;
    top: 180px;
  }
}

@media (min-width: 767px) {
  #jumbotron-headlines {
width: 66%;
  }
}


.jumbotron-content .heading-xlarge {
  font-weight: 300;
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 0;
  padding-bottom: 0;
}
@media (max-width: 767px) {
  .jumbotron-content .heading-xlarge {
  font-size: 1.8em;
  font-weight: 400;
}}


.jumbotron-content .heading-medium {
  font-weight: 400;
  font-size: 1.2em;
  margin: 0.4em 0 1em 0;
  padding: 0;
}



