{% extends "contact-layout.html" %}

{% block page_title %}
  INVEST in GREAT
{% endblock %}

{% block content %}




<main id="content" role="main" style="padding-bottom: 0">


<div id="contact-form">
	<div class="grid-row">
		<div class="column-full">

			<p class="bigger" style="font-size:1.33em;margin-top:2em">Contact our investment services team for:
        <ul class="list list-bullet">
          <li>practical support and information about taking your investment forward</li>
          <li>insights into the UK market</li>
          <li>help building connections</li>
        </ul>
      </p>

      <form action="contact-2b" method="post" class="form" style="margin-top:2em">

      <p class="form-pagination">Page 1 of 3</p>


      <h2 class="form-title heading-midlarge">
        Your details
      </h2>

      <!-- Full name -->
      <div class="form-group">
        <label class="form-label-bold" for="full-name">Full name</label>
        <!-- <p class="form-hint">As shown on your birth certificate or passport</p> -->
        <input type="text" class="form-control" id="full-name">
      </div>



      <!-- Job title -->
      <div class="form-group">
        <label class="form-label-bold" for="job-name">Job title</label>
        <!-- <p class="form-hint">So we can contact you with the appropriate information</p> -->
        <input type="text" class="form-control" id="job-name">
      </div>




      <div class="form-group">
        <fieldset id="how-contact">

          <legend class="visually-hidden">How do you want to be contacted?</legend>

          <label class="form-label-bold" for="how-contact" style="margin-bottom:0.33em">How do you want to be contacted?</label>


          <div class="multiple-choice" data-target="contact-by-phone">
            <input id="contact-phone" name="contact-phone" type="checkbox" value="Contact me by phone">
            <label for="contact-phone">Phone</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="contact-by-phone">
            <label class="form-label" for="contact-by-phone">Phone number</label>
            <input class="form-control" type="text" id="nationalities-other-country" name="contact-by-phone">
            <p class="form-hint" style="margin:0.5em 0 0.33em 0">Enter your full phone number, including area code</p>
          </div>

          <div class="multiple-choice" data-target="contact-by-email">
            <input id="nationalities-other" name="email" type="checkbox" value="Contact me by email">
            <label for="email">Email</label>
          </div>
          <div class="panel panel-border-narrow js-hidden" id="contact-by-email">
            <label class="form-label" for="email">Business email address</label>
            <input class="form-control" type="text" id="emailaddress" name="emailaddress">
          </div>

        </fieldset>
      </div>

      

      



        <!-- Continue button -->
        <div class="form-group">
        <input type="submit" class="form-button"" value="Continue">
        </div>








		



    </div><!-- end col -->
	</div><!-- end row -->

	
</div>


</main>

<script>
  accessibleAutocomplete.enhanceSelectElement({
  selectElement: document.querySelector('#location-picker')
})
</script>

{% endblock %}


