{% extends "region-layout.html" %}

{% block page_title %}
  INVEST in GREAT
{% endblock %}

{% block content %}

<iframe width="2500" height="2300" scrolling="no" frameborder="no" src="https://fusiontables.google.com/embedviz?q=select+col5%2C+col4+from+17_Kn6uhLry7cJdIupkqlCriCEi16N7ZwlEo3zn9r+where+col1+%3D+&#39;Aerospace&#39;+limit+1000&amp;viz=HEATMAP&amp;h=true&amp;lat=54.17674263561765&amp;lng=-3.523648406250004&amp;t=1&amp;z=6&amp;l=col5&amp;y=2&amp;tmplt=2&amp;hmd=true&amp;hmg=%2366ff0000%2C%2393ff00ff%2C%23c1ff00ff%2C%23eeff00ff%2C%23f4e300ff%2C%23f4e300ff%2C%23f9c600ff%2C%23ffaa00ff%2C%23ff7100ff%2C%23ff3900ff%2C%23ff0000ff&amp;hmo=1&amp;hmr=20&amp;hmw=4&amp;hml=ONE_COL_LAT_LNG"></iframe>




{% endblock %}


