{% extends "layout-ind2.html" %}

{% block page_title %}
  INVEST in GREAT
{% endblock %}

{% block content %}


<div class="jumbotron" id="home">
	<div class="jumbotron-content">
		<div id="jumbotron-headlines">
      <h1 class="heading-xlarge">
        Invest in GREAT Britain &amp; Northern Ireland
      </h1>
      <h2 class="heading-medium">
	      Get help with setting up you overseas business in the UK and see current investment opportunities
      </h2>
    </div>

    <button>
			Watch video
    </button>
  </div>
</div>


<main id="content" role="main">


<div id="home-industries">
	<div class="grid-row">
		<div class="column-full">
			<h2 class="heading-large">UK Industries</h2>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-half">


			<h4 class="heading-small"><a href="industry-automotive">Automotive</a></h4>

						<img src="/public/images/thumbnail-4-4/aerospace.jpg" class="home-thumbnail">


			<p>The UK’s automotive industry is the fastest growing in western Europe, and manufacturers want to source more components from within the UK. The industry aims to increase spending on UK components by £4 billion per year.</p>

    </div><!-- end col -->

		<div class="column-half">


			<h4 class="heading-small"><a href="#">Creative</a></h4>

						<img src="/public/images/thumbnail-4-4/creative.jpg" class="home-thumbnail">


			<p>From producing big budget movies to developing world-class computer games, creativity is thriving in the UK.</p>

    </div><!-- end col -->
	</div><!-- end row -->

	<div class="grid-row">

		<div class="column-half">


			<h4 class="heading-small"><a href="#">Energy generation</a></h4>

						<img src="/public/images/thumbnail-4-4/energy.jpg" class="home-thumbnail">


			<p>The UK offers opportunities for growth and high returns whether your business operates with traditional or emerging energy technologies.</p>

    </div><!-- end col -->

		<div class="column-half">


			<h4 class="heading-small"><a href="#">Financial services</a></h4>

						<img src="/public/images/thumbnail-4-4/financial-services.jpg" class="home-thumbnail">


			<p>The UK offers unrivalled support for the global expansion of your business. It is the most internationally-focused financial marketplace in the world.</p>

    </div><!-- end col -->
	</div><!-- end row -->

	<div class="grid-row">

		<div class="column-half">


			<h4 class="heading-small"><a href="#">Health and life science</a></h4>

						<img src="/public/images/thumbnail-4-4/life-sciences.jpg" class="home-thumbnail">


			<p>The UK is an attractive place for health and life sciences companies to invest. Currently, there are over 5,600 companies operating in the UK, generating an approximate 60.7 billion GBP.</p>

    </div><!-- end col -->

		<div class="column-half">


			<h4 class="heading-small"><a href="#">Technology</a></h4>

						<img src="/public/images/thumbnail-4-4/technology.jpg" class="home-thumbnail">


			<p>The UK’s technology sector is one of the largest in Western Europe. Its output plays a vital role in every other industrial sector including automotive, financial services, retail and logistics.</p>

    </div><!-- end col -->
	</div><!-- end row -->

	<a href="industries-2"><button class="home-more-button" style="margin-top:1em">
		Discover more
	</button></a>
</div>


<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<hr class="homerule">



<div id="home-setup">
<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-large">Your guide to setting up an overseas business in the UK</h2>

			<p style="font-size: 1.1em">The time to invest in the UK is now. If you’re ready to take the next step for your business, here’s how to do it.</p>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-half">

			<h4 class="heading-small"><a href="#">Set up a company in the UK</a></h4>

			<p>You can set up a private limited UK company online in just 24 hours, or register a branch of your existing company in up to 4 weeks.</p>

		</div>
		<div class="column-half">

			<h4 class="heading-small"><a href="#">Apply for a UK visa</a></h4>

			<p>Anyone from outside of the European Economic Area and Switzerland may need to apply for a UK visa to work in the UK or visit for business reasons.</p>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-half">

			<h4 class="heading-small"><a href="#">Open a UK business bank account</a></h4>

			<p>This will allow your business to make and receive payments in the UK without incurring foreign exchange fees. It is not a legal requirement. Yet, it will enable you to keep track of your transactions.</p>

		</div>

		<div class="column-half">

			<h4 class="heading-small"><a href="#">Understand UK tax and incentives</a></h4>

			<p>The UK has one of the most competitive tax systems in the world and the corporate tax rules are simple and clear.</p>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-half">

			<h4 class="heading-small"><a href="#">Establish a base for business in the UK</a></h4>

			<p>The UK has a straightforward planning process, a wide range of properties, and incentives that help businesses to set up and expand.</p>

		</div>

		<div class="column-half">

			<h4 class="heading-small"><a href="#">Hire skilled workers for your UK operations</a></h4>

			<p>The UK has a world-class pool of talent and business-friendly employment laws. You can also bring employees to the UK from other countries through a flexible visa system.</p>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-half">

			<h4 class="heading-small"><a href="#">Understand the UK’s legal framework</a></h4>

			<p>The UK is the seventh easiest place to do business in the world, according to the World Bank.</p>

		</div>
	</div>
</div>



<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<hr class="homerule">




<div id="how-help">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-large">How we help</h2>

			<p style="font-size: 1.1em">The Department for International Trade helps overseas companies locate and grow in the UK.</p>

			<p style="font-size: 1.1em">Based in British embassies, high commissions and consulates in cities around the world, our investment services team can:</p>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">

			<ol class="dit-list-reasons">
	      
	      <li class="dit-list-reasons__item">
	          <div class="dit-icon dit-icon-connections"></div>
	          Help you to build connections with businesses across your sector
	      </li>
	  
	      <li class="dit-list-reasons__item">
	          <div class="dit-icon dit-icon-immigration"></div>
	          Assist with visa applications and other immigration issues
	      </li>
	  
	      <li class="dit-list-reasons__item">
	          <div class="dit-icon dit-icon-incentives"></div>
	          Help you find grants and incentives to help your business to grow
	      </li>
	  
	      <li class="dit-list-reasons__item">
	          <div class="dit-icon dit-icon-talent"></div>
	          Advise on hiring staff, from salary benchmarking through recruitment and training
	      </li>
	  
	      <li class="dit-list-reasons__item">
	          <div class="dit-icon dit-icon-insight"></div>
	          Share insights into specific markets based on your needs
	      </li>
	      
	    </ol>

	  </div>
	</div>
</div>


</main>

{% endblock %}


