{% extends "location-layout.html" %}

{% block page_title %}
  INVEST in GREAT
{% endblock %}

{% block content %}


<div class="jumbotron" id="home">
	<div class="jumbotron-content">
		<div id="jumbotron-headlines">
      <h1 class="heading-xlarge">
        Invest in GREAT Britain &amp; Northern Ireland
      </h1>
      <h2 class="heading-medium">
	      Get help with setting up you overseas business in the UK and see current investment opportunities
      </h2>
    </div>

    <button>
			Watch video
    </button>
  </div>
</div>




<div class="homepage-unit">
  <div class="home-whyuk">

  	Why invest in the UK?

    <div class="grid-row">
    	<div class="column-one-third">

      <img src="/public/images/home-unit-circle.png" width="300px">

      <p>Corporation tax is being reduced from 20% in 2016 to 17% by 2020</p>

    		
    	</div>

    	<div class="column-one-third">

      <img src="/public/images/home-unit-circle.png" width="300px">

      <p>The most competitive labour costs in Western Europe as rated by the World Economic Forum</p>
    	

    	</div>

    	<div class="column-one-third">

      <img src="/public/images/home-unit-circle.png" width="300px">

      <p>The largest e-commerce market in Europe, and the UK has the highest number of initial public offerings</p>
    		

    	</div>

    </div><!-- end grid row -->

  </div>
</div><!-- end whyuk unit -->




<!--<div class="homepage-unit">
  <div class="home-iops">

  <h2 class="heading-large">Where to invest</h2>

    <div class="grid-row">
      <div class="column-one-third">



        
      </div>

      <div class="column-one-third">

      <a href="location-1"><img src="/public/images/dotmap-uk.png" width="300px" style="position:relative;left:-40px;top:4px;padding: 0.75em 0 0 0"></a>
      

      </div>

      <div class="column-one-third">
        

      </div>

    </div>

  </div>
</div>end iops unit -->



<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<hr class="homerule">



<main id="content" role="main">

	<div class="grid-row">
		<div class="column-half">

			<h4 class="heading-small"><a href="#">Open a UK business bank account</a></h4>

			<p>This will allow your business to make and receive payments in the UK without incurring foreign exchange fees. It is not a legal requirement. Yet, it will enable you to keep track of your transactions.</p>

		</div>

		<div class="column-half">

			<h4 class="heading-small"><a href="#">Understand UK tax and incentives</a></h4>

			<p>The UK has one of the most competitive tax systems in the world and the corporate tax rules are simple and clear.</p>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-half">

			<h4 class="heading-small"><a href="#">Establish a base for business in the UK</a></h4>

			<p>The UK has a straightforward planning process, a wide range of properties, and incentives that help businesses to set up and expand.</p>

		</div>

		<div class="column-half">

			<h4 class="heading-small"><a href="#">Hire skilled workers for your UK operations</a></h4>

			<p>The UK has a world-class pool of talent and business-friendly employment laws. You can also bring employees to the UK from other countries through a flexible visa system.</p>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-half">

			<h4 class="heading-small"><a href="#">Understand the UK’s legal framework</a></h4>

			<p>The UK is the seventh easiest place to do business in the world, according to the World Bank.</p>

		</div>
	</div>
</div>



<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -->
<hr class="homerule">




<div id="how-help">
	<div class="grid-row">
		<div class="column-two-thirds">
			<h2 class="heading-large">How we help</h2>

			<p style="font-size: 1.1em">The Department for International Trade helps overseas companies locate and grow in the UK.</p>

			<p style="font-size: 1.1em">Based in British embassies, high commissions and consulates in cities around the world, our investment services team can:</p>

		</div>
	</div>

	<div class="grid-row">
		<div class="column-full">

			<ol class="dit-list-reasons">
	      
	      <li class="dit-list-reasons__item">
	          <div class="dit-icon dit-icon-connections"></div>
	          Help you to build connections with businesses across your sector
	      </li>
	  
	      <li class="dit-list-reasons__item">
	          <div class="dit-icon dit-icon-immigration"></div>
	          Assist with visa applications and other immigration issues
	      </li>
	  
	      <li class="dit-list-reasons__item">
	          <div class="dit-icon dit-icon-incentives"></div>
	          Help you find grants and incentives to help your business to grow
	      </li>
	  
	      <li class="dit-list-reasons__item">
	          <div class="dit-icon dit-icon-talent"></div>
	          Advise on hiring staff, from salary benchmarking through recruitment and training
	      </li>
	  
	      <li class="dit-list-reasons__item">
	          <div class="dit-icon dit-icon-insight"></div>
	          Share insights into specific markets based on your needs
	      </li>
	      
	    </ol>

	  </div>
	</div>
</div>


</main>

{% endblock %}


