{% extends "layout-simple.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge" style>
        Design
        <span class="heading-secondary"></span>
      </h1>
      <p>
        Prototypes of pages for testing, discussion and trying things out.
      </p>


    <h2 class="heading-large">
      Investment locations (iOps)
    </h2>

    <p><a href="location-1">Prototype of a region-level 'location profile' page</a>, with a single layout showing images, region overview, data points presented as an infographic and an interactive map.</p>

    <p>Interactive map allows user to see what industries are active in a region, what transport links are there, as well as R&amp;D Hubs, financial incentives, etc.



    <h3 class="heading-medium">Older</h3>

    <p><a href="/public/images/location-profile-with-industry-map.jpg">Latest sketch of a location profile</a>, with embedded interative industry sector map of region.</p>

    <p>Quick comps of <a href="maps-sketches-1">things I've sketched and adapted while exploring</a> how to present our specific information in a map-centric way.</p>

    <p><a href="maps-research-1">Scrapbook of found examples of maps</a>, data, and how these have been applied successfully (and not).</p>

    



      

    <h2 class="heading-large">
      Contact form
    </h2>

    <p>Fairly straight reworking of <a href="contact-1">the contact form on one page</a>, but removed the 123 from desktop (already supressed on live for mobile)</p>

    <p>One thing per page - <a href="contact-2">this is the recommended GDS model</a> for simple and complex forms, not literally one thing, but multi-page simple forms perform better than over-grouping of elements on fewer pages.</p>

    <p>Further guidance <a href="https://www.gov.uk/service-manual/design/form-structure"> on the Service Manual</a>.</p>

    


    <hr>



    <h2 class="heading-large">
      Testing for mobile: Industries
    </h2>

    <p style="padding-top:1em"><strong style="font-size:1.3em">LIVE</strong> Here is the current live <a href="https://invest.great.gov.uk/int/">home page, mocked up</a>. Choose the <a href="https://invest.great.gov.uk/int/industries/">'industries' list</a> from the menu, to see how the list is currently presented.</p>

    <p style="padding-top:2em"><strong style="font-size:1.3em">LIST</strong> Here is a <a href="home-ind1">home page mockup</a>. You can choose the <a href="industries-1">'industries' list</a> from the menu, or the 'discover more' button half way down the page. This takes you to <a href="industries-1">one variation of the industry list</a> we are testing.</p>

    <p style="padding-top:2em"><strong style="font-size:1.3em">IMAGES</strong> Here is another <a href="home-ind2">home page mockup</a>. You can choose the <a href="industries-2">'industries' list</a> from the menu, or the 'discover more' button half way down the page. This takes you to <a href="industries-2">a second variation of the industry list</a>.</p>

    <p>On both of those you can go through to <a href="industry-automotive">an industry page - choose 'Automotive' </a> from the list.</p>

    <h3 class="heading-medium">

    <p>Revisited the desktop view of this list, assuming images (for major sectors) and a list of everything else.</p>

    <a href="/public/images/desktop-industries-list.jpg"><img src="/public/images/desktop-industries-list.jpg" width="400" ></a>


    <hr>

      

    <h2 class="heading-medium">Older prototypes, pages</h2>

    <p>Looking at a <a href="mixmap3">page with double-input with detailed autocomplete</a> for the Investment Opportunities map navigator.</p>


    <h2 class="heading-medium">Examples and documentation</h2>

		<ul class="list list-bullet">
			<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
			<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
		</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


