{% extends "layout-simple.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        INVEST in GREAT Design
        <span class="heading-secondary"></span>
      </h1>
      <p>
        Prototypes of pages for testing, discussion and trying things out.
      </p>

      <h2 class="heading-large">
        New
    </h2>

    <p><a href="maps-research-1">Scrapbook of found examples of maps</a>, data, and how these have been applied successfully (and not).</p>

    <p>Quick comps of <a href="maps-sketches-1">things I've sketched and adapted while exploring</a> how to present our specific information in a map-centric way.</p>

    <p>Quick comps <a href="location-profile-1">looking at a non-map direction</a> ... Location profiles really - uses maps in content, but does not rely on them for the major interaction.</p>


    <hr>

	<h2 class="heading-large">
        Fixing industries list on mobile
    </h2>

    <p>Here is the current live <a href="https://invest.great.gov.uk/int/">home page, mocked up</a>. Choose the <a href="industries-old">'industries' list</a> from the menu, to see how the list is currently presented.</p>

    <p>Here is a <a href="home-ind1">home page mockup</a>. You can choose the <a href="industries">'industries' list</a> from the menu, or the 'discover more' button half way down the page. This takes you to <a href="industries">one variation of the industry list</a> we are testing.</p>

    <p>Here is another <a href="home-ind2">home page mockup</a>. You can choose the <a href="industries-2">'industries' list</a> from the menu, or the 'discover more' button half way down the page. This takes you to <a href="industries-2">one variation of the industry list</a> we are testing.</p>

    <p>On both of those you can go through to <a href="industry-automotive">an industry page - choose 'Automotive' </a> from the list.</p>
      

      <h2 class="heading-medium">Older prototypes, pages</h2>

      <p>Looking at a <a href="mixmap3">page with double-input with detailed autocomplete</a> for the Investment Opportunities map navigator.</p>


      <h2 class="heading-medium">Examples and documentation</h2>

		<ul class="list list-bullet">
			<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
			<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
		</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}


