{% extends "layout.html" %}

{% block page_title %}
  INVEST in GREAT
{% endblock %}

{% block content %}


<div class="jumbotron" id="automotive">
	<div class="jumbotron-content">
		<div id="jumbotron-headlines">
      <h1 class="heading-xlarge">
        Automotive in the&nbsp;UK
      </h1>
      <h2 class="heading-medium">
	      The UK’s automotive industry has been the fastest growing overall in Europe since 2009 . This is due to an increasing demand for UK-made cars and a supportive business environment.
      </h2>
    </div>

    <button>
			Watch video
    </button>
  </div>
</div>


<main id="content" role="main">


<div id="industry-page">
	<div class="grid-row">
		<div class="column-full">
			<h2 class="heading-large">Automotive overview</h2>
		</div>
	</div>

	<div class="grid-row">
		<div class="column-two-thirds">

			<p>With over 15 billion GBP invested in the UK automotive industry between 2012 and 2015, the UK is one of the world’s most attractive destinations for foreign investment.</p>

			<p>Automotive businesses looking to set up here will find:
			<ul class="list list-bullet">
			<li>a country placed seventh in the world for ease of doing business, according to the World Bank</li>
			<li>the highest value add per employee in car manufacturing of any European country, according to Eurostat</li>
			<li>competitive labour costs which are lower than Italy, France or Germany</li>
			<li>the lowest corporation tax rate in the G20, at 19%, falling to 17% by 2020</li>
			<li>excellent labour relations</li>
			</ul>
			</p>


    </div><!-- end col -->
	</div><!-- end row -->

	<div class="grid-row">

		<div class="column-half">


			<h2 class="heading-large">Automotive industries</h2>


			<h4 class="heading-small"><a href="#">Automotive research and development</a></h4>

			<img src="/public/images/thumbnail-4-4/research-and-development.jpg" class="home-thumbnail">

			<p>The UK offers unrivalled support for the global expansion of your business. It is the most internationally-focused financial marketplace in the world.</p>

			<br clear="all">



			<h4 class="heading-small"><a href="#">Automotive supply chain</a></h4>

			<img src="/public/images/thumbnail-4-4/supply-chain.jpg" class="home-thumbnail">


			<p>As the demand for UK-made vehicles continues to boom, UK automotive production will exceed 2 million cars by 2020. Which means a huge opportunity for businesses involved in all parts of the supply chain.</p>

			<br clear="all">



			<h4 class="heading-small"><a href="#">Motorsport</a></h4>

			<img src="/public/images/thumbnail-4-4/motorsport.jpg" class="home-thumbnail">


			<p>The UK leads the world in motor sport with a turnover of 9 billion GBP and more than 4,500 businesses operating in the sector.</p>




    </div><!-- end col -->
	</div><!-- end row -->

	
</div>


</main>

{% endblock %}


