{% extends "layout.html" %}

{% block page_title %}
  INVEST in GREAT
{% endblock %}

{% block content %}



<main id="content" role="main">



<div class="grid-row">

  <div class="column-two-thirds">

	    <h1 class="heading-xlarge" style="color:#1E1348;font-weight:300" id="elements">Industries</h1>

	    <!--<p>From revolutionary developments in automotive components through to filming the latest and greatest blockbusters, the UK is the next logical step for your business. </p>-->

	    <p>Find out more about your sector below.</p>

  </div>
</div>


<div class="grid-row">

  <div class="column-half">

	  <ul class="industry-list image-list">

	    <li><a href="industry-aerospace" class="nounder"><span class="mobile-list-label">Aerospace</span>
	    <img src="/public/images/hero-imgsmall/aerospace.jpg" class="mobile-list-img"></a></li>

	    <li><a href="industry-advman" class="nounder"><span class="mobile-list-label">Advanced Manufacturing</span>
	    <img src="/public/images/hero-imgsmall/advanced-manufacturing.jpg" class="mobile-list-img"></a></li>

	    <li><a href="industry-automotive" class="nounder"><span class="mobile-list-label">Automotive</span>
	    <img src="/public/images/hero-imgsmall/automotive.jpg" class="mobile-list-img"></a></li>

	    <li><a href="#" class="nounder"><span class="mobile-list-label">Creative</span>
	    <img src="/public/images/hero-imgsmall/creative.jpg" class="mobile-list-img"></a></li>

	    <li><a href="#" class="nounder"><span class="mobile-list-label">Energy generation</span>
	    <img src="/public/images/hero-imgsmall/energy.jpg" class="mobile-list-img"></a></li>

	  </ul>

	</div>

	<div class="column-half">

	  <ul class="industry-list image-list">

	    <li><a href="#" class="nounder"><span class="mobile-list-label">Financial services</span>
	    <img src="/public/images/hero-imgsmall/financial-services.jpg" class="mobile-list-img"></a></li>

	    <li><a href="#" class="nounder"><span class="mobile-list-label">Food and drink manufacturing</span>
	    <img src="/public/images/hero-imgsmall/food-and-drink-manufacturing.jpg" class="mobile-list-img"></a></li>

	    <li><a href="#" class="nounder"><span class="mobile-list-label">Health and life sciences</span>
	    <img src="/public/images/hero-imgsmall/life-sciences.jpg" class="mobile-list-img"></a></li>

	    <li><a href="#" class="nounder"><span class="mobile-list-label">Retail</span>
	    <img src="/public/images/hero-imgsmall/retail.jpg" class="mobile-list-img"></a></li>

	    <li><a href="#" class="nounder"><span class="mobile-list-label">Technology</span>
	    <img src="/public/images/hero-imgsmall/technology.jpg" class="mobile-list-img"></a></li>

    </ul>

  </div>

</div>




<div class="grid-row">

  <div class="column-half">

	  <ul class="industry-list" style="border-top:solid 1px #ccc;margin-top:1em;padding-top:1em">

	    <li><span style="color: #666">Specific categories</span></li>

	    <li><a href="#">Asset management</a></li>
	    <li><a href="#">Automotive research and development</a></li>
	    <li><a href="#">Automotive supply chain</a></li>
	    <li><a href="#">Creative content and production</a></li>
	    <li><a href="#">Data analytics</a></li>
	    <li><a href="#">Digital media</a></li>
	    <li><a href="#">Electrical networks</a></li>
	    <li><a href="#">Energy from waste</a></li>
	    <li><a href="#">Financial technology</a></li>
	    <li><a href="#">Freefrom foods</a></li>
	    <li><a href="#">Medical technology</a></li>
	    <li><a href="#">Motorsprot</a></li>
	    <li><a href="#">Nuclear energy</a></li>
	    <li><a href="#">Offshore wind</a></li>
	    <li><a href="#">Oil and gas</a></li>
	    <li><a href="#">Pharmaceutical manufacturing</a></li>

	  </ul>

  </div><!-- column half -->

</div><!-- end column row -->


<br clear="all">


</main>

{% endblock %}


