{% extends "location-layout.html" %}

{% block page_title %}
  INVEST in GREAT
{% endblock %}

{% block content %}


<div class="jumbotron" id="west-midlands">
	<div class="jumbotron-content">
		<div id="jumbotron-headlines">
      <h1 class="location-xlarge">
        The&nbsp;West&nbsp;Midlands
      </h1>
      <h2 class="location-medium">
	      Hundreds of years of engineering expertise
      </h2>
    </div>

    <!--<button>
			Watch video
    </button>-->

  </div>
</div>


<main id="content" role="main">


<div id="industry-page">
	<div class="grid-row">
		<div class="column-half">
			<p class="bigger">The West Midlands recorded 92 foreign direct investment (FDI) projects in 2015 - the largest number recorded in a decade.</p>

			<p class="bigger">The figure represented an increase of 46 per cent on 2014 when the region attracted 63 projects, according to new research.</p>
		</div>


    <div class="column-half">

      <img src="/public/images/west-midlands-svgfake.png" width="100%" style="padding-top: 1em"> 

      <p><a href="#">Source: regions report from EY 2016</a></p>
    </div>


	</div>


  <div class="bleed-row">
    <div class="bleed-quote">


        <div class="quote">
          <p class="quoted">
          This region has never been more attractive to investors. It has caught the interest of companies across the world, led by the region’s highly competitive manufacturing sector
          </p>
        </div>

        <p class="quotesource">Neil Rami, Chief Executive of Marketing Birmingham</p>

      
    </div>
  </div>



	<div class="grid-row">
		<div class="column-two-thirds">

			<p>With over 15 billion GBP invested in the UK automotive industry between 2012 and 2015, the UK is one of the world’s most attractive destinations for foreign investment.</p>

			<p>Automotive businesses looking to set up here will find:
			<ul class="list list-bullet">
			<li>a country placed seventh in the world for ease of doing business, according to the World Bank</li>
			<li>the highest value add per employee in car manufacturing of any European country, according to Eurostat</li>
			<li>competitive labour costs which are lower than Italy, France or Germany</li>
			<li>the lowest corporation tax rate in the G20, at 19%, falling to 17% by 2020</li>
			<li>excellent labour relations</li>
			</ul>
			</p>


    </div><!-- end col -->
	</div><!-- end row -->

	<div class="grid-row">

		<div class="column-half">


			<h2 class="heading-large">Automotive industries</h2>


			<h4 class="heading-small"><a href="#">Automotive research and development</a></h4>

			<img src="/public/images/thumbnail-4-4/research-and-development.jpg" class="home-thumbnail">

			<p>The UK offers unrivalled support for the global expansion of your business. It is the most internationally-focused financial marketplace in the world.</p>

			<br clear="all">



			<h4 class="heading-small"><a href="#">Automotive supply chain</a></h4>

			<img src="/public/images/thumbnail-4-4/supply-chain.jpg" class="home-thumbnail">


			<p>As the demand for UK-made vehicles continues to boom, UK automotive production will exceed 2 million cars by 2020. Which means a huge opportunity for businesses involved in all parts of the supply chain.</p>

			<br clear="all">



			<h4 class="heading-small"><a href="#">Motorsport</a></h4>

			<img src="/public/images/thumbnail-4-4/motorsport.jpg" class="home-thumbnail">


			<p>The UK leads the world in motor sport with a turnover of 9 billion GBP and more than 4,500 businesses operating in the sector.</p>




    </div><!-- end col -->
	</div><!-- end row -->

	
</div>


</main>

{% endblock %}


