{% extends "region-layout.html" %}

{% block page_title %}
  INVEST in GREAT
{% endblock %}

{% block content %}


<div class="jumbotron" id="west-midlands">
	<div class="jumbotron-content">
		<div id="jumbotron-headlines">
      <h1 class="location-xlarge">
        East&nbsp;of&nbsp;England
      </h1>
      <h2 class="location-medium">
	      Excellence in research and life sciences

      </h2>
    </div>

    


  </div>
</div>


<main id="content" role="main" style="padding-bottom: 0;max-width:1160px !important">

	<div class="grid-row">
		<div class="column-half">
      <p class="bigger">Outstanding business and research facilities clustered around Cambridge University, Europe’s highest ranking university.</p>

      <p class="bigger">Home to over 200 globally significant pharmaceutical, biotechnology and medical device companies and institutions.</p>

      <p class="bigger">World-class engineering companies, specialising in space and satellite engineering, communication technologies, security equipment and logistics.</p>


			
		</div>


    <div class="column-half">


        <table style="margin: 2em 0" class="datapoints">
          <thead>
          <th colspan="2" style="border-bottom: 1px solid #333">Datapoints for West Midlands</th>
          </thead>
          <tbody>
            <tr>
              <td width="50%">
              Population
              </td>

              <td width="50%">
              5,713,000 (2013)
              </td>
            </tr>

            <tr>
              <td>
              Gross Value Added
              </td>

              <td>
              £110 billion
              </td>
            </tr>

            <tr>
              <td>
              GVA per capita
              </td>

              <td>
              £17,161 
              </td>
            </tr>

            <tr>
              <td>
              Regional centre
              </td>

              <td>
              Birmingham
              </td>
            </tr>

            <tr>
              <td valign="top">
              Regional cities
              </td>

              <td>
              Coventry, Warwick, Stoke-on-trent, Wolverhampton
              </td>
            </tr>

            <tr>
              <td valign="top">
              Primary industries
              </td>

              <td>
              <a href="#">Advanced manufacturing</a>, <a href="#">Automobile</a>, <a href="#">Aerospace</a>, <a href="#">Food manufacturing</a>
              </td>
            </tr>
          </tbody>
      </table>




      <!--<div id="links">
        <p class="bigger"><strong>Useful links</strong></p>

        <p class="bigger">
        <a href="#">Birmingham chamber of commerce</a>
        </p>

        <p class="bigger">
        <a href="#">Midlands engine, investment programme</a>
        </p>

        <p class="bigger">
        <a href="#">Black Country enterprise zone</a>
        </p>

        <p class="bigger">
        <a href="#">Skylon Park, Hereford enterprise zone</a>
        </p>
      </div>-->




      

    </div>


	</div>

</main>

  <div class="bleed-row">
    <div class="bleed-quote">


        <div class="quote">
          <p class="quoted">
          Cambridge competes on the global stage as a respected innovation hub for life sciences. Being part of this ecosystem means that our people are able to rub shoulders with some of the world’s leading research – that’s a really exciting prospect.” 
          </p>
        </div>

        <p class="quotesource">Pascal Soriot, CEO of AstraZeneca</p>

      
    </div>
  </div>






<main id="content" role="main" style="padding-bottom: 1.5em;max-width:1160px !important">

<div class="grid-row">
  <div class="column-half">

    <!--<h2 class="heading-large" style="font-weight: 300;margin-bottom: 0.5em">West Midlands, an engineering success story</h2>-->

    <h2 class="heading-medium" style="font-weight: 500;margin-bottom: 0.5em">Success</h2>
    
    <p class="">The East of England is one of the UK’s top regions for foreign direct investment (FDI):</p>

    <p class="">FDI projects in East of England were <span class="referenced">up 39% in 2016</span>, the second highest annual increase across the UK.</p>
    

    <p class="">Hertfordshire, in the East of England, is home to <span class="referenced">over 200 pharmaceutical, biotechnology and medical device companies</span> and institutions.</p>
    






  </div>



  <div class="column-half">
  <h2 class="heading-medium" style="font-weight: 500;margin-bottom: 0.5em">Incentives</h2>

  <p class="">Enterprise zones offer discounted business rates and simplified planning processes. Enterprise zones in the region include:</p>

  <p class=""><strong>Harlow Enterprise Zone</strong> - it offers 35 acres of development space for life sciences, information technology and advanced manufacturing, with simplified planning processes and excellent transport connections.<br>
  <a href="http://harlowez.org.uk">http://harlowez.org.uk</a></p>

  <p class=""><strong>Alconbury Enterprise Zone</strong> - it offers a 1,420 acre site, with 3 million square feet of commercial space, land for 5,000 homes and an opportunity to provide of 8,000 jobs.<br>
  <a href="http://www.alconbury-weald.co.uk/what-is-happening/work/enterprise-campus">http://www.alconbury-weald.co.uk</a></p>




  </div>
</div>




<div class="grid-row">
  <div class="column-half">


    <h2 class="heading-medium" style="font-weight: 500;margin-bottom: 0.5em">Research and development</h2>
    
    <p class="">Cranfield University offers world-class research and testing services in fields including aerospace, defence and energy. It is the UK’s most business-engaged university, having achieved <span class="referenced">more than 1,500 collaborations</span> with businesses and governments around the world.</p>

  </div>



  <div class="column-half">

  <table style="margin: 2em 0" class="datapoints">
      <thead>
      <th colspan="2" style="border-bottom: 1px solid #333">Research is also supported by the region’s universities:</th>
      </thead>
      <tbody>
        <tr>
          <td width="50%">
          <a href="http://www.anglia.ac.uk/research">Anglia Ruskin</a>
          </td>

          <td width="50%">
          medical technology
          </td>
        </tr>

        <tr>
          <td>
          <a href="https://www.beds.ac.uk/research-ref">Bedfordshire</a>
          </td>

          <td>
          computer science, business
          </td>
        </tr>

        <tr>
          <td>
          <a href="http://www.essex.ac.uk/research/">Essex </a>
          </td>

          <td>
          big data, robotics
          </td>
        </tr>

        <tr>
          <td>
          <a href="https://www.uea.ac.uk/research">East-Anglia (UEA)</a> 
          </td>

          <td>
          medicine, health &amp; biological science, computing

          </td>
        </tr>

        <tr>
          <td valign="top">
          <a href="http://www.herts.ac.uk/research">Hertfordshire</a>
          </td>

          <td>
          film animation, computer science 
          </td>
        </tr>
      </tbody>
    </table>



  </div>
</div>

<div class="grid-row">
  <div class="column-half">


    <h2 class="heading-medium" style="font-weight: 500;margin-bottom: 0.5em">Costs</h2>

    <p class="">Property costs are on average 60% of those in central London, which can be reached in only 30 minutes by rail (Stevenage to London Kings Cross).</p>

    <h2 class="heading-medium" style="font-weight: 500;margin-bottom: 0.5em">Skills</h2>

    <p class="">Home to Cambridge University, <span class="referenced">the highest-ranked university in Europe</span> and the fifth highest in the world.</p>


    <h2 class="heading-medium" style="font-weight: 500;margin-bottom: 0.5em">Infrastructure projects</h2>

    <p class="">Crossrail is Europe’s largest ever construction project, worth £14.5 billion. When it is completed in 2019, it will create additional direct connections from the East of England to London and cut journey times.</p>




    <ol class="list references-list" style="font-size: 0.8em">
      <li><strong>References:</strong>
      <li>1. <a href="#">UK Attractiveness survey</a>, 2015, EY</li>
      <li>2. <a href="#">Hertfordshire Local Enterprise Partnership</a>, 2017</li>
      <li>3. <a href="#">Cranfield university at a glance 2017</a> </li>
      <li>4. <a href="#">QS World University Rankings 2018</a> </li>
      <li>5. <a href="#">Crossrail Ltd, 2017</a> </li>
    </ol>



  </div>



  <div class="column-half">

  <h2 class="heading-medium" style="font-weight: 500;margin-bottom: 0.5em">Incentives</h2>

  <p class="">Enterprise zones offer discounted business rates and simplified planning processes. Enterprise zones in the region include:</p>

  <p class=""><strong>Harlow Enterprise Zone</strong> - it offers 35 acres of development space for life sciences, information technology and advanced manufacturing, with simplified planning processes and excellent transport connections.</p>

  <p class=""><strong>Alconbury Enterprise Zone</strong> - it offers a 1,420 acre site, with 3 million square feet of commercial space, land for 5,000 homes and an opportunity to provide of 8,000 jobs</p>



  </div>
</div>




<div class="grid-row">
  <div class="column-half">


    <h2 class="heading-medium" style="font-weight: 500;margin-bottom: 0.5em">Strong sectors</h2>

    <p class="">The East of England is strong in a number of sectors:</p>

    <p class=""><strong>Aerospace and defence</strong> - the East is home to Airbus, BAE systems, Lockheed Martin and Marshalls Aerospace, the UK’s largest independent aerospace and defence company.</p>

    <p class=""><strong>Automotive</strong> - the East is home to Ford’s headquarters and European research centre, Lotus and General Motors.</p>

    <p class=""><strong>Creative</strong> - the East is home to Warner Bros. studios Leavesden, the largest feature film studio in the UK.</p>

   


  </div>



  <div class="column-half">

  <h2 class="heading-medium" style="font-weight: 500;margin-bottom: 0.5em">&nbsp;</h2>

  <p class="">&nbsp;</p>

   <p class=""><strong>Food and drink</strong> - the East is home to Unilever’s research and development facility for over 60 years and to the National Institute of Agriculture and Botany.</p>

    <p class=""><strong>Ports and logistics</strong> - the is sector worth over £5.4 billion, employing almost 24,000 people.</p>

    <p class=""><strong>Technology</strong> - Microsoft R &amp; D is based in Cambridge and partners with Cambridge University</p>

  

  </div>
</div>
</main>



<script>
  // The autocomplete input <select> gets transformed by this
  accessibleAutocomplete.enhanceSelectElement({
  selectElement: document.querySelector('#industry-picker')
  })


  // From the Gain Concept-mix2 prototype, open positions list
  function toggleDiv(divId) {
      $("."+divId).toggle();
      $('#arrow-'+divId).toggleClass('industry-active industry-inactive');
  }

  function setDisplayValue() {
      var display = $('.toggle')[0].style.display;
      $('.displayvalue').text(display);
      e.preventDefault();
  }




</script>




{% endblock %}


