{% extends "layout-simple.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        MAP RESEARCH
        <span class="heading-secondary"></span>
      </h1>
      <p>
        Found examples of interesting and sometimes successful uses of datasets + geography. Usually with a map, but not always.
      </p>

      </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <a href="/public/images/map-research/lumniocity.png"><img src="/public/images/map-research/lumniocity.png" width="49%" ></a>

      <a href="/public/images/map-research/luminocity-2.png"><img src="/public/images/map-research/luminocity-2.png" width="49%" ></a>

      </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p style="margin-bottom: 2em"><a href="http://luminocity3d.org">Luminocity</a> uses the 2011 Census data to create a fascinating interactive map tool. The hexagonal tiles/stacks are good, as are the heatmap palettes.</p>

      </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <a href="/public/images/map-research/uk-picturesque.jpg"><img src="/public/images/map-research/uk-picturesque.jpg" width="33%" ></a>
      <a href="/public/images/map-research/uk-natural-resources.jpg"><img src="/public/images/map-research/uk-natural-resources.jpg" width="33%" ></a>
      <a href="/public/images/map-research/odhams-uk-industries.jpg"><img src="/public/images/map-research/odhams-uk-industries.jpg" width="32%" ></a>

      </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p style="margin-bottom: 2em">Fun. But, this is kind of what we're after - an overview of the best area for a specific industry.</p>

      <a href="/public/images/map-research/uk-report.jpg"><img src="/public/images/map-research/uk-report.jpg" width="60%" ></a>

      <p style="margin-bottom: 2em">Poorly executed but this map does pack a lot of info into a single image.</p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <a href="/public/images/map-research/ukpoverty.jpg"><img src="/public/images/map-research/ukpoverty.jpg" width="49%"></a>
      <a href="/public/images/map-research/uk-anomie.gif"><img src="/public/images/map-research/uk-anomie.gif" width="49%" ></a>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p><strong>LEFT:</strong> Hex grid again, but note the joined up tiles to create regions.</p>

      <p style="margin-bottom: 2em"><strong>RIGHT:</strong> Hex grid used to apply population density as a distortion to the natural map. Getting away from 100% geographic seems useful.</p>

		</div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <a href="/public/images/map-research/uk-rail.jpg"><img src="/public/images/map-research/uk-rail.jpg" width="33%"></a>
      <a href="/public/images/map-research/uk-rail2.gif"><img src="/public/images/map-research/uk-rail2.gif" width="33%"></a>
      <a href="/public/images/map-research/uk-rail3.jpg"><img src="/public/images/map-research/uk-rail3.jpg" width="32%"></a>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p style="margin-bottom: 2em">Three variations of the rail map as simplified and abstracted to provide maximum information on connectivity without being too bothered about absolute geographic accuracy.</p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <a href="/public/images/map-research/uk-entrepreneurs.jpg"><img src="/public/images/map-research/uk-entrepreneurs.jpg" width="33%"></a>
      <a href="/public/images/map-research/catapult-centres.jpg"><img src="/public/images/map-research/catapult-centres.jpg" width="33%"></a>
      <a href="/public/images/map-research/uk-creativeclusters.jpg"><img src="/public/images/map-research/uk-creativeclusters.jpg" width="32%"></a>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p style="margin-bottom: 2em">Three variations mapping datapoints onto the map, highlight that it clearly has limitations with even a relatively low number of points.</p>

      </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <a href="/public/images/map-research/tradeflows-full.png"><img src="/public/images/map-research/tradeflows-full.png" width="100%"></a>
      <a href="/public/images/map-research/tradeflows-neat.png"><img src="/public/images/map-research/tradeflows-neat.png" width="100%"></a>

      </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>Showing the abstraction of geography while making the data better understood - the linear plot does keep the geographic groupings of countries, which seems useful.</p>


    </div>
  </div>
</main>

{% endblock %}


