{% extends "layout-simple.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        MAP SKETCHES
        <span class="heading-secondary"></span>
      </h1>
      <p>
        Trying some things to work with our datasets, locations, industry sectors to provide users with clear information to help make investment decisions.
      </p>

      </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <img src="/public/images/sketches/mapsketch-0-blobs1.png" width="33%">
      <img src="/public/images/sketches/mapsketch-0-blobs2.png" width="33%">
      <img src="/public/images/sketches/mapsketch-0-blobs3.png" width="33%">
     


      </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p style="margin-bottom: 2em">These are sample plots from the existing alpha, background map removed. I think this informed the following abstraction of the map...</p>

      </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <img src="/public/images/sketches/mapsketch-3-blobmap.png" width="22%" style="margin-right: 1em;margin-bottom:5em">
      <a href="/public/images/sketches/mapsketch-1-industrylist.png"><img src="/public/images/sketches/mapsketch-1-industrylist.png" width="70%"></a>

      </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>This is starting to roughly lay out what a stylised abstracted map would look like with text-label UI as a priority. Note, the top (busiest? most investment?) areas are highlighted, the overlay data are not present.</p>
      <p style="margin-bottom: 2em">I tried it, but at this point the added data layers (eg. transport) made it look really messy...</p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <a href="/public/images/sketches/mapsketch-2-blobmap-placelist.png"><img src="/public/images/sketches/mapsketch-2-blobmap-placelist.png" width="90%"></a>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p style="margin-top: -3em">Based on the type of data we have - lots of locations in some of the sector/region intersections - I tried to get a list out of all of them. Here, trying to make the layout work, the list is quite long, and not immediately useful. </p>

      <p style="margin-bottom: 2em">Hover effects (drawing a line connecting the place to label) may work.</p>

		</div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      <a href="/public/images/sketches/mapsketch-4-profile.png"><img src="/public/images/sketches/mapsketch-4-profile.png" width=90%"></a>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>In parallel to map-centric UI it is becoming clear that might not be the best way for users to get the most out of their visit to the INVEST site.</p>

      <p style="margin-bottom: 2em">Here, I'm trying to look at a layout that is the equivilant for a region profile, with maps as part of the content but moving away from one map for all data.</p>

    </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

     


    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p style="margin-bottom: 2em">

      </p>

      </div>
  </div>

  <div class="grid-row">
    <div class="column-full">

      


      </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>

      </p>


    </div>
  </div>
</main>

{% endblock %}


