{% extends "layout-simple.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
  <div class="grid-row" style="width: 1200px !important;margin: 0 auto;">
    <div class="column-full">

      <div style="background-color: #339;padding:6em 1em 1em 1em;margin-bottom: 2em">
        <h1 style="font-size: 64px;line-height: 1;color:white;font-weight: 500;text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);margin-bottom:0.2em" >
        H1 Region name and Humberside
        </h1>

        <h2 style="font-size: 32px;line-height: 1.1;color:white;font-weight: 500;text-shadow: 0px 3px 3px rgba(0, 0, 0, 1);">H2 Exciting and innovative taglines of the future</h2>
      </div>

    </div>
  </div>

  <div class="grid-row" style="width: 1200px !important;margin: 0 auto;">
    <div class="column-two-thirds">

      <p>Question: Is it too big?</p>


      <p style="font-size:32px;line-height: 1.33">The fastest rate of employment growth in the UK, with Reading set to outstrip London for gross value added growth and the rest of the country for employment growth.</p>

      <p style="font-size:32px;line-height: 1.33">Most of the region connects with London by train in under an hour, with up to 60% lower property costs.</p>

      <p style="font-size:32px;line-height: 1.33;margin-bottom: 2em">Home to the world’s top ranked university, the University of Oxford.</p>







      <div style="padding:14px;background-color: #f5f2ec;margin-bottom: 2em">

        <p style="font-size:24px;line-height: 1;font-weight: 500;margin-bottom: 10px">Showing clusters for Aerospace</p>

        <p style="font-size:24px;line-height: 1;font-weight: 400"><a href="#switch">Change industry</a></p>

        <img src="/public/images/se-region-map.png" align="top" style="float:left">

        <img src="/public/images/se-uk-map.png" style="float: right;">

        <br clear="all">

      </div>


      <h2 style="font-size: 32px;line-height: 1.1;color:#222;font-weight: 500;">Investors attracted to the South East</h2>

<p style="font-size: 24px;line-height: 1;margin-bottom:0.5em">The South East leads the UK for growth and productivity: </p>

<ul id="content-list" style="font-size:24px;line-height: 1.5">

<li style="background-image: url('/public/images/list-black-square.png');background-repeat:no-repeat;background-size:16px 16px;background-position:0 10px;padding-left: 30px;margin-bottom:36px">it had the fastest employment growth of any UK region in 2016 (2.1%)<br>
<a href="#ext1">EY, UK region and city economic forecast Winter 2016</a></li>

<li style="background-image: url('/public/images/list-black-square.png');background-repeat:no-repeat;background-size:16px 16px;background-position:0 10px;padding-left: 30px;margin-bottom:36px">it is forecast to be the UK’s top region for gross value added (GVA) growth between 2017 and 2019 (1.91%)<br>
<a href="#ext2">EY, UK region and city economic forecast Winter 2016</a></li>

<li style="background-image: url('/public/images/list-black-square.png');background-repeat:no-repeat;background-size:16px 16px;background-position:0 10px;padding-left: 30px;margin-bottom:36px">world-famous technology companies have chosen the South East as a base, including Microsoft, CISCO, Huawei, Telefonica and Vodafone</li>

<li style="background-image: url('/public/images/list-black-square.png');background-repeat:no-repeat;background-size:16px 16px;background-position:0 10px;padding-left: 30px;margin-bottom:36px">10 of the top 50 global organisations in the world are based here; 113 of the world’s top brands are based in the Thames Valley alone</li>

<li style="background-image: url('/public/images/list-black-square.png');background-repeat:no-repeat;background-size:16px 16px;background-position:0 10px;padding-left: 30px;margin-bottom:36px">life sciences and healthcare, creative services, motorsport, marine, aerospace and space technology all thrive here</li>

</ul>


     
      
      <h2 style="font-size: 32px;line-height: 1.1;color:#222;font-weight: 500;">Costs of investing</h2>
      <p style="font-size:24px;line-height: 1.5;font-weight: 400">Regional property costs are up to 60% lower than in central London. Businesses report strong rates of return on their investment due to the high productivity and growth rates across the region.
      </p>

      <h2 style="font-size: 32px;line-height: 1.1;color:#222;font-weight: 500;">Workforce and skills</h2>
      <p style="font-size:24px;line-height: 1.5;font-weight: 400">The South East has 2 of the top 3 UK cities for GVA per worker in the UK (GBP 71.6k in Slough and Reading). Oxford, in the South East, has the second highest proportion of adults in the UK with university-level education (64%).<br>
      <a href=#out>Cities Outlook 2017</a></p>

      <table>
        <thead>
          <th colspan="2">Region name</th>

          <th>Statistical value</th>
        </thead>

        <tbody>
          <tr><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-position:0 12px;padding-left: 10px"><strong>A</strong></td><td style="font-size:21px">North West</td><td style="font-size:21px">100,303</td></tr>

          <tr><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-position:0 12px;padding-left: 10px"><strong>B</strong></td><td style="font-size:21px">South West</td><td style="font-size:21px">34,562</td></tr>

          <tr><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-position:0 12px;padding-left: 10px"><strong>C</strong></td><td style="font-size:21px">Scotland</td><td style="font-size:21px">11,870</td></tr>

          <tr><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-position:0 12px;padding-left: 10px"><strong>D</strong></td><td style="font-size:21px">Wales</td><td style="font-size:21px">8,438</td></tr>

        </tbody>
      </table>

      <p style="font-size: 21px;line-height: 1.4">Small text used for additional or supplementary information, which can include references, footnotes and <a href="#cc">links to sources</a>.</p>


      <h2 style="font-size: 32px;line-height: 2;color:#222;font-weight: 500;">Desktop text styles</h2>

      <table style="margin-bottom:6em">
        <thead>
          <th colspan="2">Type style</th>

          <th>Text-size/Weight/Line-Height</th>
        </thead>

        <tbody>
          <tr><td>H1</td><td style="font-size:21px">Big title</td><td style="font-size:21px">64px / 500 Medium / 64px (1)</td></tr>

          <tr><td>H2</td><td style="font-size:21px">Tagline, Section Heading</td><td style="font-size:21px">32px / 500 Medium / 36px (1.1)</td></tr>

          <tr><td>P</td><td style="font-size:21px">Lead para</td><td style="font-size:21px">32px / 400 Regular / 42px (1.33)</td></tr>

          <tr><td>P</td><td style="font-size:21px">Regular</td><td style="font-size:21px">24px / 400 Regular / 36px (1.5)</td></tr>

          <tr><td>P</td><td style="font-size:21px">Smaller</td><td style="font-size:21px">21px / 400 Regular / 30px (1.1)</td></tr>

          <tr><td>LI</td><td style="font-size:21px">List Item</td><td style="font-size:21px">24px / 400 Regular / 48px (2)</td></tr>

          <tr><td>TD</td><td style="font-size:21px">Table Item</td><td style="font-size:21px">21px / 400 Regular / ~</td></tr>

        </tbody>
      </table>

      </div>

      <div class="column-third">


      <p style="font-size: 24px;line-height: 1;margin-bottom:0.5em">Find out about:</p>

      <ul id="anchor-links" style="font-size:24px;line-height: 1">
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:16px 16px;background-position:0 6px;padding-left: 30px;margin-bottom:16px"><a href="#a" style="text-decoration: none">Investors attracted to the South East</a></li>
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:16px 16px;background-position:0 6px;padding-left: 30px;margin-bottom:16px"><a href="#b" style="text-decoration: none">Costs of investing</a></li>
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:16px 16px;background-position:0 6px;padding-left: 30px;margin-bottom:16px"><a href="#c" style="text-decoration: none">Workforce and skills</a></li>
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:16px 16px;background-position:0 6px;padding-left: 30px;margin-bottom:16px"><a href="#d" style="text-decoration: none">Research and development</a></li>
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:16px 16px;background-position:0 6px;padding-left: 30px;margin-bottom:16px"><a href="#e" style="text-decoration: none">Transport infrastructure</a></li>
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:16px 16px;background-position:0 6px;padding-left: 30px;margin-bottom:16px"><a href="#f" style="text-decoration: none">Strong cities in invest in</a></li>
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:16px 16px;background-position:0 6px;padding-left: 30px;margin-bottom:16px"><a href="#g" style="text-decoration: none">Major infrastructure projects</a></li>
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:16px 16px;background-position:0 6px;padding-left: 30px;margin-bottom:16px"><a href="#h" style="text-decoration: none">Incentives to invest</a></li>
      </ul>





    </div>

    








    </div>
  </div>
{% endblock %}
