{% extends "layout-simple.html" %}



{% block content %}
  <div style="padding:0 16px;border:8px solid black;max-width: 360px">
    

    <div style="background-color: #339;padding:6em 1em 1em 1em;margin-bottom: 2em;margin-left:-20px">
      <h1 style="padding-left:8px;font-size: 36px;line-height: 1;color:white;font-weight: 500;text-shadow: 0px 3px 6px rgba(0, 0, 0, 1);margin-bottom:0.2em" >
      H1 Region name and Humberside
      </h1>

      <!--<h2 style="font-size: 32px;line-height: 1.1;color:white;font-weight: 500;text-shadow: 0px 3px 3px rgba(0, 0, 0, 1);">H2 Exciting and innovative taglines of the future</h2>-->
    </div>

    <p style="font-size: 18px;line-height: 1;margin-bottom:1em">Find out about:</p>

      <ul id="anchor-links" style="font-size:18px;line-height: 1">
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:12px 12px;background-position:0 4px;padding-left: 26px;margin-bottom:18px"><a href="#a" style="text-decoration: none">Investors attracted to the South East</a></li>
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:12px 12px;background-position:0 4px;padding-left: 26px;margin-bottom:18px"><a href="#b" style="text-decoration: none">Costs of investing</a></li>
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:12px 12px;background-position:0 4px;padding-left: 26px;margin-bottom:18px"><a href="#c" style="text-decoration: none">Workforce and skills</a></li>
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:12px 12px;background-position:0 4px;padding-left: 26px;margin-bottom:18px"><a href="#d" style="text-decoration: none">Research and development</a></li>
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:12px 12px;background-position:0 4px;padding-left: 26px;margin-bottom:18px"><a href="#e" style="text-decoration: none">Transport infrastructure</a></li>
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:12px 12px;background-position:0 4px;padding-left: 26px;margin-bottom:18px"><a href="#f" style="text-decoration: none">Strong cities in invest in</a></li>
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:12px 12px;background-position:0 4px;padding-left: 26px;margin-bottom:18px"><a href="#g" style="text-decoration: none">Major infrastructure projects</a></li>
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:12px 12px;background-position:0 4px;padding-left: 26px;margin-bottom:18px"><a href="#h" style="text-decoration: none">Incentives to invest</a></li>
      </ul>

    <p style="color:grey">On mobile, move the tagline out of the Hero image and above the lead paragraph. Partly because the hero block gets cramped obscuring the image, and partly as the in-page link index comes first, so the H2 needs to connect to the lead para</p>

      <h2 style="font-size: 24px;line-height: 1.1;color:#222;font-weight: 500;margin-bottom: 1em">H2 Exciting and innovative taglines of the future</h2>

      <p style="font-size:18px;line-height: 1.6">The fastest rate of employment growth in the UK, with Reading set to outstrip London for gross value added growth and the rest of the country for employment growth.</p>

      <p style="font-size:18px;line-height: 1.6">Most of the region connects with London by train in under an hour, with up to 60% lower property costs.</p>

      <p style="font-size:18px;line-height: 1.6;margin-bottom: 2em">Home to the world’s top ranked university, the University of Oxford.</p>







      <div style="width:360px;padding:8px;background-color: #f5f2ec;margin-left:-16px;margin-bottom: 0">

        <p style="font-size:18px;line-height: 1;font-weight: 500;margin-bottom: 10px;margin-left:8px">Showing clusters for Aerospace</p>

        <p style="font-size:18px;line-height: 1;font-weight: 400;margin-left:8px"><a href="#switch">Change industry</a></p>

                

        <img src="/public/images/se-region-map.png" align="top" width="100%">

        <img src="/public/images/se-uk-map.png" width=27% height=27% style="float:right;z-index: 12;position: relative;top:-330px;right:0;border-left:5px solid #f5f2ec;border-bottom:5px solid #f5f2ec">


        <br clear="all">

      </div>

      <br clear="all">






      <div style="margin-top:-120px">


      <h2 style="font-size: 24px;line-height: 1.1;color:#222;font-weight: 500;margin-bottom: 1em">Investors attracted to the South East</h2>

<p style="font-size:18px;line-height: 1.6;margin-bottom: 2em">The South East leads the UK for growth and productivity: </p>

<ul id="content-list" style="font-size:18px;line-height: 1.6">

<li style="background-image: url('/public/images/list-black-square.png');background-repeat:no-repeat;background-size:11px 11px;background-position:0 10px;padding-left: 20px;margin-bottom:28px">it had the fastest employment growth of any UK region in 2016 (2.1%)<br>
<a href="#ext1">EY, UK region and city economic forecast Winter 2016</a></li>

<li style="background-image: url('/public/images/list-black-square.png');background-repeat:no-repeat;background-size:11px 11px;background-position:0 10px;padding-left: 20px;margin-bottom:28px">it is forecast to be the UK’s top region for gross value added (GVA) growth between 2017 and 2019 (1.91%)<br>
<a href="#ext2">EY, UK region and city economic forecast Winter 2016</a></li>

<li style="background-image: url('/public/images/list-black-square.png');background-repeat:no-repeat;background-size:11px 11px;background-position:0 10px;padding-left: 20px;margin-bottom:28px">world-famous technology companies have chosen the South East as a base, including Microsoft, CISCO, Huawei, Telefonica and Vodafone</li>

<li style="background-image: url('/public/images/list-black-square.png');background-repeat:no-repeat;background-size:11px 11px;background-position:0 10px;padding-left: 20px;margin-bottom:28px">10 of the top 50 global organisations in the world are based here; 113 of the world’s top brands are based in the Thames Valley alone</li>

<li style="background-image: url('/public/images/list-black-square.png');background-repeat:no-repeat;background-size:11px 11px;background-position:0 10px;padding-left: 20px;margin-bottom:28px">life sciences and healthcare, creative services, motorsport, marine, aerospace and space technology all thrive here</li>

</ul>


     
      
      <h2 style="font-size: 24px;line-height: 1.1;color:#222;font-weight: 500;margin-bottom: 1em">Costs of investing</h2>
      <p style="font-size:18px;line-height: 1.6;font-weight: 400">Regional property costs are up to 60% lower than in central London. Businesses report strong rates of return on their investment due to the high productivity and growth rates across the region.
      </p>

      <h2 style="font-size: 24px;line-height: 1.1;color:#222;font-weight: 500;margin-bottom: 1em">Workforce and skills</h2>
      <p style="font-size:18px;line-height: 1.6;font-weight: 400">The South East has 2 of the top 3 UK cities for GVA per worker in the UK (GBP 71.6k in Slough and Reading). Oxford, in the South East, has the second highest proportion of adults in the UK with university-level education (64%).<br>
      <a href=#out>Cities Outlook 2017</a></p>

      <table>
        <thead>
          <th colspan="2">Region name</th>

          <th>Statistical value</th>
        </thead>

        <tbody>
          <tr><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 10px;padding-left: 10px"><strong>A</strong></td><td style="font-size:18px">North West</td><td style="font-size:18px">100,303</td></tr>

          <tr><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 10px;padding-left: 10px"><strong>B</strong></td><td style="font-size:18px">South West</td><td style="font-size:18px">34,562</td></tr>

          <tr><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 10px;padding-left: 10px"><strong>C</strong></td><td style="font-size:18px">Scotland</td><td style="font-size:18px">11,870</td></tr>

          <tr><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 10px;padding-left: 10px"><strong>D</strong></td><td style="font-size:18px">Wales</td><td style="font-size:18px">8,438</td></tr>

        </tbody>
      </table>

      <p style="font-size: 15px;line-height: 1.4;margin-top:1em">Small text used for additional or supplementary information, which can include references, footnotes and <a href="#cc">links to sources</a>.</p>


     
      


      


    <p>From the Where in UK page </p>


    <h2 style="font-size: 24px;line-height: 1.1;color:#222;font-weight: 500;margin-bottom: 1em">
    Business clusters for Food and drink manufacturing in the UK</h2>

    <p style="font-size:18px;line-height: 1.6;font-weight: 400">The Energy sectors are active all over the UK. Oil and gas are highly active in <a href="#scot" style="color:black">Scotland</a> and <a href="#ni" style="color:black">Northern Ireland</a>.</p>

    <p style="font-size:18px;line-height: 1.6;font-weight: 400">Renewable energy is making an impact in <a href="#east" style="color:black">East of England</a> and <a href="#wales" style="color:black">Wales</a>.</p>


    <p style="font-size: 18;line-height: 1;margin-bottom:1em;margin-top:1.5em">Find out about:</p>

      <ul id="anchor-links" style="font-size:18px;line-height: 1">
        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:12px 12px;background-position:0 4px;padding-left: 26px;margin-bottom:18px"><a href="#a" style="text-decoration: none">Skilled talent</a></li>

        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:12px 12px;background-position:0 4px;padding-left: 26px;margin-bottom:18px"><a href="#a" style="text-decoration: none">Salary differences</a></li>

        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:12px 12px;background-position:0 4px;padding-left: 26px;margin-bottom:18px"><a href="#a" style="text-decoration: none">R &amp; D centres</a></li>

        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:12px 12px;background-position:0 4px;padding-left: 26px;margin-bottom:18px"><a href="#a" style="text-decoration: none">Universities</a></li>

        <li style="background-image: url('/public/images/list-blob-blue.png');background-repeat:no-repeat;background-size:12px 12px;background-position:0 4px;padding-left: 26px;margin-bottom:18px"><a href="#a" style="text-decoration: none">Airports</a></li>

      </ul>





      <table>
        <thead>
          <th colspan="2">Region name</th>

          <th colspan="2">Statistical difference</th>
        </thead>

        <tbody>
          <tr valign="top"><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 8px;padding-left: 10px"><strong>A</strong></td><td style="font-size:18px;line-height: 1.11">Scotland</td><td style="font-size:18px;text-align: right"><img src="/public/images/salary-bar-pink.png" width="70px" height="21px"></td><td style="font-size:18px;line-height: 1.11">10.2%</td></tr>

          <tr valign="top"><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 8px;padding-left: 10px"><strong>B</strong></td><td style="font-size:18px;line-height: 1.11">Northern Ireland</td><td style="font-size:18px;text-align: right"><img src="/public/images/salary-bar-pink.png" width="70px" height="21px"></td><td style="font-size:18px;line-height: 1.11">9.3%</td></tr>

          <tr valign="top"><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 8px;padding-left: 10px"><strong>C</strong></td><td style="font-size:18px;line-height: 1.11">North East England</td><td style="font-size:18px;text-align: right"><img src="/public/images/salary-bar-pink.png" width="65px" height="21px"></td><td style="font-size:18px;line-height: 1.11">8.1%</td></tr>

          <tr valign="top"><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 8px;padding-left: 10px"><strong>D</strong></td><td style="font-size:18px;line-height: 1.11">Wales</td><td style="font-size:18px;text-align: right"><img src="/public/images/salary-bar-pink.png" width="19px" height="21px"></td><td style="font-size:18px;line-height: 1.11">2.4%</td></tr>

          <tr valign="top"><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 8px;padding-left: 10px"><strong>C</strong></td><td style="font-size:18px;line-height: 1.11">Yorkshire&nbsp;and<br>The&nbsp;Humber</td><td style="font-size:18px;text-align: right;line-height: 1.11">+1.2%</td><td style="font-size:18px"><img src="/public/images/salary-bar-green.png" width="8px" height="21px"></td></tr>

          <tr valign="top"><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 8px;padding-left: 10px"><strong>D</strong></td><td style="font-size:18px;line-height: 1.11">East of England</td><td style="font-size:18px;text-align: right">+3.3%</td><td style="font-size:18px"><img src="/public/images/salary-bar-green.png" width="26px" height="21px"></td></tr>

          <tr valign="top"><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 8px;padding-left: 10px"><strong>C</strong></td><td style="font-size:18px">West Midlands</td><td style="font-size:18px;text-align: right;line-height: 1.11">+5.0%</td><td style="font-size:18px"><img src="/public/images/salary-bar-green.png" width="40px" height="21px"></td></tr>

          <tr valign="top"><td style="background-image: url('/public/images/gold-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 8px;padding-left: 10px"><strong>D</strong></td><td style="font-size:18px;line-height: 1.11">North West England</td><td style="font-size:18px;text-align: right;line-height: 1.11">+11.2%</td><td style="font-size:18px"><img src="/public/images/salary-bar-green.png" width="70px" height="21px"></td></tr>

        </tbody>
      </table>

      <br>

      <p style="font-size: 15px;line-height: 1.4">Calculated from variation form the mean UK wages. Source: Office for National Statistics, Department for International trade. Download data as <a href="#csv">CSV</a> or as <a href="#xls">XLS</a>



      <h2 style="font-size: 24px;line-height: 1.1;color:#222;font-weight: 500;margin-bottom: 1em">
      Airport in the UK and major destinations, by continent</h2>


      <p style="font-size:18px;line-height: 1.6;font-weight: 400">There are major R &amp; D hubs in key locations that work in academia, industry and governement to advance developments in Aerospace.</p>



      <table>
        <thead>
          <th colspan="2">Airport</th>

          <th colspan="2">Destinations</th>
        </thead>

        <tbody>
          <tr valign="top">
            <td style="background-image: url('/public/images/blue-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 8px;padding-left: 10px"><strong style="color:white">A</strong></td>

            <td>London Heathrow<br>
            <a href="#air-region-a">in London</a></td>

            <td>UK<br>
            Europe<br>
            Americas<br>
            Africa<br>
            Asia<br>
            Australasia</td>

            <td>12<br>
            74<br>
            31<br>
            15<br>
            42<br>
            4</td>

          </tr>

          <tr valign="top">
            <td style="background-image: url('/public/images/blue-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 8px;padding-left: 10px"><strong style="color:white">B</strong></td>

            <td>London Gatwick<br>
            <a href="#air-region-a">in South East</a></td>

            <td>UK<br>
            Europe<br>
            Americas<br>
            Africa<br>
            Asia<br>
            <span style="color:grey">Australasia</span></td>

            <td>7<br>
            31<br>
            10<br>
            8<br>
            6<br>
            -</td>

          </tr>

          <tr valign="top">
            <td style="background-image: url('/public/images/blue-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 8px;padding-left: 10px"><strong style="color:white">C</strong></td>

            <td>Manchester<br>
            <a href="#air-region-a">in North West</a></td>

            <td>UK<br>
            Europe<br>
            Americas<br>
            Africa<br>
            Asia<br>
            <span style="color:grey">Australasia</span></td>

            <td>7<br>
            31<br>
            10<br>
            8<br>
            6<br>
            -</td>

          </tr>

          <tr valign="top">
            <td style="background-image: url('/public/images/blue-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 8px;padding-left: 10px"><strong style="color:white">D</strong></td>

            <td>London Stanstead<br>
            <a href="#air-region-a">in East of England</a></td>

            <td>UK<br>
            Europe<br>
            Americas<br>
            Africa<br>
            <span style="color:grey">Asia</span><br>
            <span style="color:grey">Australasia</span></td>

            <td>7<br>
            31<br>
            10<br>
            8<br>
            -<br>
            -</td>

          </tr>

          <tr valign="top">
            <td style="background-image: url('/public/images/blue-blob.png');background-repeat:no-repeat;background-size:26px 26px;background-position:2px 8px;padding-left: 10px"><strong style="color:white">E</strong></td>

            <td>London Luton<br>
            <a href="#air-region-a">in East of England</a></td>

            <td>UK<br>
            Europe<br>
            Americas<br>
            Africa<br>
            <span style="color:grey">Asia</span><br>
            <span style="color:grey">Australasia</span></td>

            <td>7<br>
            31<br>
            10<br>
            8<br>
            -<br>
            -</td>

          </tr>
        </tbody>

      </table>



      









<br><br>



      <h2 style="font-size: 24px;line-height: 2;color:#222;font-weight: 500;">Mobile text styles</h2>

      <table style="margin-bottom:6em">
        <thead>
          <th colspan="2">Type style</th>

          <th>Text&nbsp;size/Weight/Line&nbsp;Height</th>
        </thead>

        <tbody>
          <tr><td>H1</td><td style="font-size:18px">Big title</td><td style="font-size:18px">36px / 500 Medium / 36px (1)</td></tr>

          <tr><td>H2</td><td style="font-size:18px">Tagline, Section Heading</td><td style="font-size:18px">24px / 500 Medium / 26px (1.1)</td></tr>

          <tr><td>P</td><td style="font-size:18px"><strike>Lead para</strike></td><td style="font-size:18px">18px / 400 Regular / 29px (1.33)</td></tr>

          <tr><td>P</td><td style="font-size:18px">Regular</td><td style="font-size:18px">18px / 400 Regular / 29px (1.6)</td></tr>

          <tr><td>P</td><td style="font-size:18px">Smaller</td><td style="font-size:18px">15px / 400 Regular / 21px (1.4)</td></tr>

          <tr><td>LI</td><td style="font-size:18px">List Item</td><td style="font-size:18px">18px / 400 Regular / 36px (2)</td></tr>

          <tr><td>TD</td><td style="font-size:18px">Table Item</td><td style="font-size:18px">18px / 400 Regular / ~</td></tr>

        </tbody>
      </table>

</div>
 


</div>
{% endblock %}
