{% extends "whereuk-layout.html" %}

{% block page_title %}
  INVEST in GREAT
{% endblock %}

{% block content %}






<main id="content" role="main" style="padding-bottom: 0;max-width: 1200px !important">


  <div class="grid-row" style="border-left: 16px solid #007EA3">
    <div class="column-third">

      <h1 class="heading-large" style="margin-bottom: 0">Where to invest</h1>

      <h2 class="heading-medium" style="margin-top: 0">in the UK for Aerospace</h2>

      <p style="margin-bottom: 2em"><a href="#">Change industry</a></p>
   
    </div>

    <div>

    </div>

  </div><!-- end grid row -->



	<div class="grid-row" style="border-left: 16px solid #FFBF47">
		<div class="column-two-thirds">
   

    <h2 class="heading-medium">Showing business clusters for <a href="" style="text-decoration: none;color:black">Aerospace</a></h2>

    <!--<h3 class="heading-small">Summary</h3>-->

    <div id="industry-summary">
      <p class="bigger">The energy sectors are active all over the UK. Oil and gas are highly active in <a href="#" style="text-decoration: none;color:black">Scotland</a> and <a href="#" style="text-decoration: none;color:black">Northern Ireland</a>.</p>

      <p class="bigger">Renewable energy is making an impact in <a href="#" style="text-decoration: none;color:black"> East England</a> and <a href="#" style="text-decoration: none;color:black">Wales.</a></p>

      <p class="bigger">Skills in Nuclear energy is strongly represented by the workforces of <a href="#" style="text-decoration: none;color:black">North West England</a> and <a href="#" style="text-decoration: none;color:black">South West England</a>. <span style="color:#990;">Dummy content.</span></p>
    </div>
      

    </div>


    <div class="column-third">

      <div class="sticky">
        <img src="/public/images/blue-map.png" width="100%" style="">
      </div>

    </div>

  </div><!-- end grid row -->



  <div class="grid-row">
    <div class="column-third" style="border-left: 16px solid #8AE2FB">

   

     
      

    </div>

  </div><!-- end grid row -->



    <div class="grid-row">
    <div class="column-two-thirds" style="border-left: 16px solid #4F0B7B">
   


      

    </div>

  </div><!-- end grid row -->








  

</main>




<script>
  // The autocomplete input <select> gets transformed by this
  accessibleAutocomplete.enhanceSelectElement({
  selectElement: document.querySelector('#industry-picker')
  })


  // From the Gain Concept-mix2 prototype, open positions list
  function toggleDiv(divId) {
      $("."+divId).toggle();
      $('#arrow-'+divId).toggleClass('industry-active industry-inactive');
  }

  function setDisplayValue() {
      var display = $('.toggle')[0].style.display;
      $('.displayvalue').text(display);
      e.preventDefault();
  }




</script>




{% endblock %}


